<div class="accordion-section {{if selected 'active'}}" data-paymentoption="{{formatedTitleForId}}">
  <dt role="heading" aria-level="3">
    <button aria-expanded="{{ariaExpanded}}" 
      class="accordion-trigger" 
      aria-controls={{sectId}} 
      id={{accordionId}} 
      type="button"
      onkeydown={{action focusAccordion}} {{action select title}}>
      <div class="dv-title">
        <span class="accordion-title">
          {{title}}
        </span>
        {{#if subtitle}}
        <span class="accordion-subtitle">
          {{subtitle}}
        </span>
        {{/if}}
      </div>
      <div class="dv-title-flags">
        {{#if flags}}
        {{#each flags as |flag index|}}
        <div class="dv-flag">
          <svg class="checkout-credit-card-flag {{lowercase flag}}">
            <title>{{uppercase flag}}</title>
            <use xlink:href="assets/images/sprite-b2c-svg.svg#{{lowercase flag}}-flag"></use>
          </svg>
        </div>
        {{/each}}
        {{/if}}
      </div>
      <span class="accordion-icon"></span>
    </button>
  </dt>
  <dd id={{sectId}} role="region" aria-labelledby={{accordionId}} class="accordion-panel" hidden={{hidden}}>
    <div>
      {{yield}}
    </div>
  </dd>
</div>